<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- was throughing error for passive mode hence we are using stage ftp server-->
    <add key="ChartImageHandler" value="storage=memory;timeout=60;"/>
    <add key="currency" value="₦"/>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial"/>
    <!--<add key="uploadurl" value="C:\inetpub\wwwroot\New folderp"/>-->
    <!--<add key="uploadurl" value="C:\Users\TemitayoOyetunji\Desktop\formalPaye\eirs-paye"/>-->
    <add key="uploadurl" value="C:\Inetpub\vhosts\eirs.gov.ng\pinscher.eirs.gov.ng\spike"/>
    <!--ftp://pinscher.eirsautomation.xyz/docs-->
    <add key="uploadurltxtfile" value="ftp://pinscher.eirs.gov.ng/Spike/"/>
    <!--<add key="uploadurltxtfile" value="ftp://pinscher.eirsautomation.xyz/App_Code/" />-->
    <!-- ftp://pinscher.eirsautomation.xyz/App_Code/ -->
    <add key="ftpusername" value="paye-contec"/>
    <add key="defaultTImeout" value="180000"/>
    <add key="username" value="Contec"/>
    <add key="password" value="Znal821*"/>
    <add key="ftppassword" value="m0l~i7R6"/>
    <add key="enviro" value="l"/>
    <add key="SqlCommandTimeOut" value="180000"/>
    <add key="ApiBaseUrl" value="https://api.eirs.gov.ng/"/>
  </appSettings>
  <connectionStrings>
    <add name="constring" connectionString="Server=92.205.57.77; Database=pinscher_spike; Uid=Admin;Pwd=K5?wh7l4##; Pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="120000"/>
    <identity impersonate="false"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <sessionState mode="InProc" cookieless="false" allowCustomSqlDatabase="true" sqlCommandTimeout="360000" timeout="360000"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler,     System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewer" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler,Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.4728.0" newVersion="2.5.4728.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>