<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=60;"/>
    <add key="currency" value="₦"/>
    <!--<add key="uploadurl" value="ftp://pinscher.eirs.gov.ng/docs"/>-->
    <add key="uploadurl" value="ftp://pinscher.eirs.gov.ng/docs"/>
    <!--ftp://pinscher.eirsautomation.xyz/docs-->
    <!--<add key="uploadurltxtfile" value="ftp://pinscher.eirs.gov.ng/App_Code/"/>-->
    <add key="uploadurltxtfile" value="ftp://pinscher.eirs.gov.ng/App_Code/"/>
    <!-- ftp://pinscher.eirsautomation.xyz/App_Code/ -->
    <add key="ftpusername" value="paye-contec"/>
    <!--<add key="ftpusername" value="paye-ctec"/>-->
    <!--paye-ctec -->
    <!--<add key="ftppassword" value="u0l1!C5p"/>-->
    <!--<add key="ftppassword" value="efLt35^6**&amp;5391"/>-->
	<!--New password Defined by Abhay on 29-May-2019 -->
	<add key="ftppassword" value="9F*uxe18"/>
	
	
    <add key="SqlCommandTimeOut" value="24000"/>
    <!--efLt35^6**&amp;5391 -->
  </appSettings>
  <connectionStrings>
    <!--<add name="constring" connectionString="Server=70.38.71.145; Database=EIRSPaye; Uid=admn;Pwd=pa$$w0rd123; Pooling=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="constring" connectionString="Server=144.76.184.68; Database=pinscher_paye-ctec; Uid=paye-ctec;Pwd=efLt35^6**&amp;5391; Pooling=true;" providerName="System.Data.SqlClient"/>-->

    <add name="constring" connectionString="Server=51.140.25.163; Database=pinscher_spike; Uid=spike;Pwd=Hl2s!73r; Pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="5000" />
    <identity impersonate="false"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
    <authentication mode="Forms">
    </authentication>
    <sessionState mode="InProc" cookieless="false" allowCustomSqlDatabase="true" sqlCommandTimeout="360000" timeout="360000"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler,     System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewer" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler,Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
</configuration>